a {
    color: #1863a1;
}

a:visited {
    color: #751590;
}

a:focus {
    color: #0181eb;
}

a:hover {
    color: #0181eb;
}

a:active {
    color: #01579f;
}


a {
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
    text-rendering: optimizelegibility;
    margin-bottom: 1em;
    font-weight: bold;
}

body {
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: regular;
    font-size: 1.15em;
    line-height: 1.5em;
    color: #222;

    /* On smaller screens, use less padding and the whole width */
    padding: 3em;
    margin: 0 auto;
}

/* On screens at least 1025px wide, use more padding and less of the
   width */
@media screen and (min-width: 1025px) {
    body {
	padding: 9em;
	width: 66%;
    }
}

h1 {
    font-size: 2.6em;
    line-height: 1.2em;
    margin: 0;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: .9em;
}

h6 {
    font-size: .8em;
}

p, ul ,ol {
    margin-bottom: 1.5em;
}

ul {
    list-style-type: none;
}

li {
    margin: .5em;
}

blockquote {
    margin-top: 2em;
    margin-bottom: 0;
    padding: 0;
}

blockquote p {
    margin-bottom: 0;
    padding: 0;
}

blockquote footer {
    text-align: right;
}
